<ion-menu
  side="start"
  type="push"
  contentId="main-content"
  #sideMenu>
  <ion-header>
    <ion-toolbar color="dark">
      <h3 id="toolbarHeader">Menu</h3>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/" (click)="sideMenu.close()">
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item routerLink="/test" (click)="sideMenu.close()">
        <ion-label>Test</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<div class="content" id="main-content">
  <ng-content></ng-content>
  haha
</div>


