<!-- Put this on Shared -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ headerTitle || 'Menu Title' }}</ion-title>
    <ion-buttons collapse="true" slot="end">
      <ng-container *ngFor="let button of buttons">
        <ion-button color="primary">{{ button.name || 'Unknown Button' }}</ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ng-container *ngIf="auth.user$ | async as user; else login" >
      <app-dashboard [user]="user"></app-dashboard>
    </ng-container>
    
    <ng-template #login>
      <app-register (changeValEmitter)='changeType($event)' *ngIf="type === 'signup'"></app-register>
      <app-login (changeValEmitter)='changeType($event)' *ngIf="type === 'login'"></app-login>
    </ng-template>
  </div>
</ion-content>
