<ion-content>
  <ion-slides #slides [options]="slideOpts" pager="true">
    <ion-slide class="step-one">
      <h1>Explore the Demo</h1>
      <p>
          The Ionic Master Course demo app explores the possibilites in Ionic 4.
      </p>
      <ion-button color="dark" (click)="next()">Next</ion-button>
    </ion-slide>
    <ion-slide class="step-two">
      <h1>Explore the Demo 2</h1>
      <p>
          The Ionic Master Course demo app explores the possibilites in Ionic 4.
      </p>
      <ion-button color="dark" (click)="next()">Next</ion-button>
    </ion-slide>
    <ion-slide class="step-three">
      <h1>Explore the Demo 3</h1>
      <p>
          The Ionic Master Course demo app explores the possibilites in Ionic 4.
      </p>
      <ion-button color="dark" (click)="next()">Next</ion-button>
    </ion-slide>
    <ion-slide class="step-four">
      <h1>Log In</h1>
      <div id="buttons">
        <ion-button color="dark">Facebook</ion-button>
        <ion-button color="dark">Google</ion-button>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>